<app-header></app-header>
<div class="py-10 bg-[#F4F9F5]">
  <div class="container mx-auto">
    <h2 class="text-4xl text-center text-[#27AE60] font-bold mb-8">Agendar Cita con {{ medico?.nombre }}</h2>
    
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <div class="mb-6">
        <h3 class="text-2xl font-semibold">{{ medico?.nombre }}</h3>
        <p class="text-[#27AE60]">{{ medico?.especialidad }}</p>
        <p class="text-gray-700 mt-2">{{ medico?.descripcion }}</p>
      </div>

      <!-- Selección de fecha -->
      <div class="mb-6">
        <label for="fecha" class="block text-lg font-medium text-gray-700">Selecciona una fecha:</label>
        <input type="date" id="fecha" [(ngModel)]="fecha" class="px-4 py-2 border rounded-lg mt-2 w-full" />
      </div>

      <!-- Selección de hora -->
      <div *ngIf="fecha" class="mb-6">
        <label for="hora" class="block text-lg font-medium text-gray-700">Selecciona una hora:</label>
        <select id="hora" [(ngModel)]="hora" class="px-4 py-2 border rounded-lg mt-2 w-full">
          <option *ngFor="let horario of horariosDisponibles" [value]="horario">{{ horario }}</option>
        </select>
      </div>

      <!-- Confirmación de cita -->
      <div class="mt-6 text-center">
        <button (click)="confirmarCita()" class="px-4 py-2 bg-[#27AE60] text-white rounded-lg">Confirmar Cita</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
